{
"probe_cli": {
	"target_path": "sparse/python/sparse/views/probe_cli.py",
	"line_width": 500,
	  "max_rows": 1000},
"probe": {
	"target_path": "sparse/bin/probe",
	"prompt": ["SpQL[", "]> "],
	"backingstores": {
		"qube": "<QubeBackingStore>"}
	},
"probe_api": {
	"custom_search_words": {
		"$2500"       : "(pri) <= (2500)",
		"$run"        : "(pri) <= (2500) & (stat) = (running)",
		"$flrms"      : "(pri) <= (2500) & (flrms) > (0)",
		"$max"        : "(pri) <= (2500) & (max) >= (4)",
		"$long"       : "(pri) <= (2500) & (dist) <= (0.12)",
		"$down"       : "(state) = (down)",
		"$idle"       : "(state) = (idle)",
		"$idlefs"     : "(state) = (idle) & (slt_pct) >= (1)"
		}
	},
"imports": {
	"<qb>": {
		"path": "/Users/alexbraun/google_drive/code/projects/sparse/python/sparse/utilities/mock/qb.py"
		},
	"<test>" : {
		"path": "/Users/alexbraun/Desktop/qb.py"
		},
	"<QubeBackingStore>": {
		"class": "QubeBackingStore",
		"path": "/Users/alexbraun/google_drive/code/projects/sparse/python/sparse/frameworks/probe/qube_backingstore"
		}
	},
"qube_backingstore" : {
	"input_lut"  : "QUBE_MASTER_LUT",
	"output_lut" : "QUBE_SHORT_NAME_LUT"
	}
}